DE Simulation.json
[
    {
        "id": "4101b0c96b6b94b0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "292cc1bc6761d873",
        "type": "inject",
        "z": "4101b0c96b6b94b0",
        "name": "First Application",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DBR",
        "payload": "{\"income\":2000.0,\"existingInstallment\":3300.0, \"age\": 21}",
        "payloadType": "str",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "23fd61ebb386a90e"
            ]
        ]
    },
    {
        "id": "33d392768b836e6d",
        "type": "function",
        "z": "4101b0c96b6b94b0",
        "name": "calculateDBR",
        "func": "var userData = msg.payload;\nvar income = userData.income;\nvar existInst = userData.existingInstallment;\n\nconsole.debug(\"income \" + income);\nconsole.debug(\"existInst \" + existInst);\nvar dbr = null;\nif (income > 0) {\n    dbr = existInst / income * 100.0;\n}\nconsole.debug(\"dbr \" + dbr);\nmsg.payload.DBR = dbr;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "ce3aac62254d764f"
            ]
        ]
    },
    {
        "id": "23fd61ebb386a90e",
        "type": "json",
        "z": "4101b0c96b6b94b0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8fa0c6fdd689fb65"
            ]
        ]
    },
    {
        "id": "be372e976a6bbeb2",
        "type": "debug",
        "z": "4101b0c96b6b94b0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "d38941fe5f322841",
        "type": "json",
        "z": "4101b0c96b6b94b0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 910,
        "y": 200,
        "wires": [
            [
                "be372e976a6bbeb2"
            ]
        ]
    },
    {
        "id": "ce3aac62254d764f",
        "type": "switch",
        "z": "4101b0c96b6b94b0",
        "name": "",
        "property": "payload.DBR",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "payload.maxDBR",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "payload.maxDBR",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "edad50671951964c"
            ],
            [
                "0d86572dcbee84f5"
            ]
        ]
    },
    {
        "id": "edad50671951964c",
        "type": "change",
        "z": "4101b0c96b6b94b0",
        "name": "Set Decision: Approve",
        "rules": [
            {
                "t": "set",
                "p": "payload.Decision",
                "pt": "msg",
                "to": "Approve",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "d38941fe5f322841"
            ]
        ]
    },
    {
        "id": "0d86572dcbee84f5",
        "type": "change",
        "z": "4101b0c96b6b94b0",
        "name": "Set Decision: Decline",
        "rules": [
            {
                "t": "set",
                "p": "payload.Decision",
                "pt": "msg",
                "to": "Reject",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.ReasonCode",
                "pt": "msg",
                "to": "POL01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "d38941fe5f322841"
            ]
        ]
    },
    {
        "id": "7ce8b1358aaff308",
        "type": "inject",
        "z": "4101b0c96b6b94b0",
        "name": "Second Application",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DBR",
        "payload": "{\"income\":20000.0,\"existingInstallment\":3000.0, \"age\": 66}",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "23fd61ebb386a90e"
            ]
        ]
    },
    {
        "id": "c8348e73284061d8",
        "type": "http in",
        "z": "4101b0c96b6b94b0",
        "name": "Policy Check",
        "url": "/policyCheck",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "23fd61ebb386a90e"
            ]
        ]
    },
    {
        "id": "8fa0c6fdd689fb65",
        "type": "change",
        "z": "4101b0c96b6b94b0",
        "name": "Set Max Product Parameter",
        "rules": [
            {
                "t": "set",
                "p": "payload.maxDBR",
                "pt": "msg",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.minLimit",
                "pt": "msg",
                "to": "1000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.maxLimit",
                "pt": "msg",
                "to": "30000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 40,
        "wires": [
            [
                "33d392768b836e6d"
            ]
        ]
    }
]